# Nextcloud
NEXTCLOUD_DATA_DIR=/mnt/user/nextcloud

# Caddy
CADDYFILE_PATH=/mnt/user/appdata/caddy/nextcloud/Caddyfile

# Tailscale
TS_CONFIG_DIR=/mnt/user/appdata/tailscale/nextcloud/
TS_HOSTNAME=nextcloud
TS_TAILNET_NAME=small-giganotosaurus.ts.net
TS_AUTH_KEY=tskey-client-kXGGbs6CNTRL